/************************
Designed by : http://responsivewebinc.com
************************/

/* Basic CSS starts */

body{
   font-family: 'Open Sans', sans-serif;
   color:#444;
   font-size:13px;
   line-height:25px;
   -webkit-font-smoothing: antialiased;
   background:#fafafa url('/img/main-back.png') repeat;
}

h1,h2,h3,h4{
   /*font-family: 'Open Sans Condensed', sans-serif;*/
}

h5,h6{
   font-family: 'Open Sans', sans-serif;
}

p{
   margin:0;
   padding:0;
}

ul, ol{
   padding-left:15px;
}

a{
   color:#16cbe6;
   text-decoration:none;
}

a:hover{
   color:#0fa6bc;
   text-decoration:none;
   border-bottom:1px dotted #0fa6bc;
}

a:hover,a:active,a:focus {
   outline: 0;
}

hr{

}

strong{
   font-family: 'Open Sans', sans-serif !important;
   font-weight:600;
}  

:focus {
   outline:none;
}

::-moz-focus-inner {
   border:0;
}

.form *{
   font-size:13px;
}

#myTab li.active a{
   color:#fff !important;
   background:#16cbe6 !important;
   border-color:#16cbe6 !important;
}

/* Basic CSS ends */

.container{
   width:1200px;
}

.color{
   color:#16cbe6;
}

.sep-bor{
   border-top:1px dashed #ccc;
   border-bottom:1px dashed #ccc;
   margin:20px 0px;
   height:5px;
}

.sep{
   height: 5px;
   margin:20px 0px;
   background: url("/img/sep.png") repeat;
}

.blocky{
   margin:30px 0px;
}

.modal h4{
   font-family:"Open Sans", sans-serif;
   font-weight:bold;
   color:#777;
   font-size:16px;
}

.pagination{
   margin:5px 0px;
}

.page-title{
   margin:0px 0px 10px 0px;
}

.page-title i{
   font-size:30px;
   margin-right:5px;
}

.page-title h2{
   font-size:35px;
   margin:0px;
   padding:0px;
}

.page-title small{
   font-size:21px;
   margin-left:5px;
}

.section-title h4{
   margin:0px;
   padding:0px;
   font-family:"Open Sans", sans-serif;
   font-size:22px;
   margin-bottom:5px;
   color:#777;
   padding-bottom:10px;
   border-bottom:1px solid #eee;
}

.btn-blue{
   color:#fff !important;
   background:#16cbe6;
   border:1px solid #0fa6bc;
   border-bottom:2px solid #0fa6bc;
   font-size:13px;
}

.btn-blue:hover{
   color:#fff !important;
   background:#14b9d1;
   border:1px solid #0fa6bc;
   border-bottom:2px solid #0fa6bc;
   font-size:13px;
}

.input-group .btn{
   margin-top:0px !important;
} 

/* CL Editor */

.cleditorMain{
   border: 1px solid #ccc;
   margin: 10px 0px;
}

.cleditorMain textarea, .cleditorMain iframe{
   width: 100% !important;
}

/* Logo & Navigation */

.header{
   height: 69px;
   background: url(/images/header_container.png) no-repeat center top;
   background-position: 50% 50%;
 
   -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

.header .logo h1{
   font-size:40px;
   margin:0px;
   padding:10px 0px;
}

.header .logo h1 a{
   color:#fff;
   font-family: 'Open Sans Condensed', sans-serif;
}

.header .logo h1 a:hover{
   color:#fff;
   text-decoration:none;
   border:0px;
}

.header .form{
   margin-top:15px;
   width:100%;
   max-width:300px;
   margin:15px auto;
}

.header .navbar *{
   box-shadow:none !important;
}

.header .navbar .label{
   font-size:12px;
   padding:4px 8px;
   margin:0px 2px;
   border-radius:15px !important;
}

.header .navbar{
   background:none !important;
   border:0px !important;
}

.header .navbar i{
   margin-right:3px;
}

.header .navbar .nav > li > a{
   color:#fff !important;
   font-size:13px !important;
   border-bottom:0px !important;
   margin-top:7px !important;
   font-weight:bold;
}

.header .navbar-nav>.open>a,.header  .navbar-nav>.open>a:hover,.header  .navbar-nav>.open>a:focus {
   background:none !important;
}

.header .navbar-collapse{
   border:0px !important;
}

.header .navbar-header{
   width:43px;
   margin:0 auto;
}

.header .navbar-header button{
   color:#fff !important;
   padding:5px 10px;
}

.header .navbar-toggle{
   background-color: #1dc1da !important;
   border:1px solid #0fa6bc !important;
}

.header .navbar-toggle:hover, .header .navbar-toggle:focus {
   background-color: #0fa6bc !important;
   border:1px solid #0fa6bc !important;
}

.header .dropdown-menu{
   border-radius:6px !important;
   background:#fff !important;
}

.header .dropdown-menu li{
   font-size:13px;
   padding:6px 15px;
   border-bottom:1px dashed #f3f3f3;
}

.header .dropdown-menu li a {
   color:#888;
   padding-left:0px !important;
}

.header .dropdown-menu li:last-child{
   border:0px;
}

.header .dropdown-menu li a:hover{
   background:none !important;
   color:#666 !important;
   border:0px !important;
}

.header .dropdown-big{
   min-width:300px;
}

.header .dropdown-big .dropdown-head{
   padding:7px 15px;
   background:#fcfcfc;
   border-bottom:1px solid #ddd;
   margin-top:-5px;
   border-top-left-radius:5px;
   border-top-right-radius:5px;
}

.header .dropdown-big .dropdown-title{
   font-size:13px;
   font-weight:bold;
   color:#999;
}

.header .dropdown-big .dropdown-body{
   background:#fff;
}

.header .dropdown-big .dropdown-foot{
   padding:7px 15px;
   background:#fcfcfc;
   border-top:1px solid #ddd;
   margin-bottom:-5px;
   border-bottom-left-radius:5px;
   border-bottom-right-radius:5px;
   font-size:12px;
}

.header .dropdown-big .dropdown-foot a{
   color:#888;
}

.header .dropdown-big .dropdown-foot a:hover{
   color:#fff;
   border-bottom:0px;
}

.header .navbar-nav .caret{
   border-top-color:#fff !important;
   border-bottom-color:#fff !important;
}

.header .navbar-nav>.open>a .caret,.header  .navbar-nav>.open>a:hover .caret,.header  .navbar-nav>.open>a:focus .caret {
   border-top-color: #fff !important;
   border-bottom-color: #fff !important;
}

/* Sidebar navigation */

.sidey{
   margin-bottom:30px;
   width:220px;
   display:block;
   float:left;
   background:#fff;
   border-radius:10px;
   padding:10px;
   border-left:1px solid #eee;
   border-top:1px solid #eee;
   border-right:1px solid #eee;
   border-bottom:1px solid #eee;
   position:absolute;   
}

.sidey ul.nav, .sidey ul.nav ul{
   list-style: none;
   padding: 0px;
   margin: -10px;
}

.sidey ul.nav ul {
   margin:0px;
   padding:0px;
   display:none;
}

.sidey .nav li.open ul{
   display:block;
}

/*.sidey .nav > li {
   margin: 0;
   border-bottom:1px dashed #eee;
}*/

.sidey .nav > li:last-child{
   border-bottom:0px;
}

.sidey .nav > li li {
   margin: 0;
}

.sidey .nav > li li a{
   padding-left:25px;
}

.sidey .nav > li > a {
   font-size: 16px;
   line-height: 20px;
   padding: 15px 15px;
   color: #0E4F61;
   display: block;
   font-weight:bold;
   background:none;
   text-decoration: none;
   border-top:0px;
   font-weight:bold;
}

.sidey .nav .last-ellement {
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
.sidey .nav .fierst-ellement{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.sidey .nav > li > a > i{
   margin-right:5px;
}

.sidey .nav > li > ul > li > a {
   font-size: 15px;
   line-height: 20px;
   padding: 8px 10px 8px 40px;
   color: #0E4F61;
   background:#fff;
   display: block;
   text-decoration: none;
   border-top:0px;
   font-weight:bold;
}

.sidey .nav > li > ul > li.active > a{
   background: #fff;
   font-weight: bold;
   color: #0E4F61;
   border-top:0px;
}

.sidey .nav > li > ul > li > a:hover{
   background: #fff;
   color: #0E4F61;
   font-weight: bold;
   border-bottom:0px;
}

.sidey .nav li a:hover, .sidey .nav li.current > a {
   background: #188B88;
   color: #fff;
   border-bottom:0px;
}

.sidey .nav li.open > a{
   background:#188B88;
   color: #fff;
}

.sidey .nav a .caret {
   float: right;
   width: 0;
   height: 0;
   display: inline-block;
   vertical-align: top;
   border-top: 4px solid #aaa;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   content: "";
   margin-top: 8px;
   margin-left: 2px;
}

.sidey .nav a:hover .caret {
   border-top-color: #aaa;
}

.sidey .nav li.open > a > .caret {
   border-top: none;
   border-bottom: 4px solid #aaa !important;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
}

.sidey .nav li.open > a:hover > .caret {
   border-bottom-color: #aaa;
}

.sidebar-dropdown{
   display:none;
}

/* Main */

.mainy{
   position: relative;
   margin-left: 240px;
   margin-right: 0px;
   width: auto;
   min-height: 620px;
}

.mainy .container{
   width: 100%;
} 

/* Make post */

.make-post h5{
   margin:0px;
   margin-bottom:12px;
   padding:0px;
   font-weight:bold;
}

/* Admin hero */

.admin-hero{
   color:#fff;
   margin:10px 0px;
}

.admin-hero hr{
   margin:12px 0px;
   border-top:1px solid #40d1e7;
}

.admin-hero ul li{
   padding:30px 30px;
   text-align:center;
   background:#16cbe6;
   height:180px;
   margin:5px 3px;
   border-radius:5px;
   border:1px solid #0fa6bc;
}

.admin-hero ul li h2{
   font-size:40px;
   line-height:40px;
   margin:0px;
}

.admin-hero ul li .label{
   font-size:15px;
   position:relative;
   top:-10px;
}

.admin-hero .hero-icon{
   font-size:40px;
   line-height:58px;
}

/* Admin widget */

.awidget{
   background:#fff;
   margin:10px 0px;
   padding:5px;
   border-radius:10px;
   border-left:1px solid #eee;
   border-top:1px solid #eee;
   border-bottom:3px solid #eee;
   border-right:3px solid #eee;
}

.awidget .awidget-head{
   padding:10px;
}

.awidget .awidget-head h3{
   margin:0px;
   font-family:"Open Sans", sans-serif;
   font-size:15px;
   line-height:25px;
   color:#666;
   margin-bottom:10px;
   padding-bottom:10px;
   border-bottom:1px dashed #eee;
}

.awidget .awidget-body{
   padding:5px 12px;
   color:#777;
}

.chart-container {
   box-sizing: border-box;
   width: 100%;
   height: 300px;
}

.chart-placeholder {
   width: 100%;
   height: 100%;
}

#pie-chart,#pie-chart2,#pie-chart3{
   height: 250px;
   max-width: 100%;
}

/* Login & Register */

.login-reg{
   width:100%;
   max-width:500px;
   margin:70px auto;
}

/* Admin media */

.admin-media img{
   max-width:40px;
}

/* Recent Activity starts */

.activity{
   list-style-type: none;
   margin: 0px;
   padding:0px;
}

.activity li{
   padding:10px 10px;
  background-color: #fff;  
  border-top: 1px dashed #eee;
}

.activity li:first-child{
   border-top: 0px;
}

.activity i{
   margin-right: 5px;
}

/* Google maps */

.gmap iframe{
   width: 100%;
   margin: 0px !important;
   padding: 0px !important;
}

/* Recent posts & Comments widgets starts */


.recent-content .btn{
   font-size: 12px !important;
   margin-top: 5px;
}

.recent-meta{
   font-size: 11px;
   color: #999;
}

.recent {
   list-style-type: none;
   margin: 0px;
   font-size: 13px;
   line-height: 22px;
}

.recent img{
   margin-top: 5px;
   margin-right:10px;
   max-width:50px;
}

.recent li{
   margin-bottom: 8px;
   padding-bottom: 8px;
   border-bottom: 1px dashed #eee;
}

/* Recent posts and comments widget ends */

/* Tasks starts */

.task{
   list-style-type: none;
   margin: 0px;
   padding:0px;
}

.task li{
   padding:12px 10px;   
  border-top: 1px dashed #eee;
}

.task li:first-child{
   border-top: 0px;
}

.task .label{
   margin-left: 5px;
}

.task .btn{
   font-size: 11px !important;
}

/* Date & time picker */

.picker{
   padding:4px;
   border-radius:8px;
   border:1px solid #999;
}



/* Slider */

#eq span {
    height:120px; float:left; margin:15px
}

.ui-slider .ui-slider-handle { 
   position: absolute;
   z-index: 2;
   width: 2.6em;
   height: 1.6em;
   cursor: pointer;
   background: #fafafa !important;
   border: 1px solid #ccc !important;
   margin-top: -2px;
   text-align: center;
   color: #16cbe6;
   text-decoration: none;
}

.ui-slider-horizontal { 
   height: .7em; 
   border: 0px solid #eee !important; 
   background: #dfdfdf !important;
}

.ui-slider-vertical { 
   height: 100px; 
   width: 0.5em;
   border: 0px solid #fff !important; 
   background: #dfdfdf !important;
}

#master1, #master2, #master3, #master4, #master5, #master6{
   width: 100%;
   margin:15px 0px !important;
}

.slider-red .ui-widget-header{
   background: #dd514c !important;
   border-color: #dd514c !important;
}  

.slider-blue .ui-widget-header{
   background: #36a5c6 !important;
   border-color: #36a5c6 !important;
}  

.slider-green .ui-widget-header{
   background: #16cbe6 !important;
   border-color: #16cbe6 !important;
}  

.slider-yellow .ui-widget-header{
   background: #fcd419 !important;
   border-color: #fcd419 !important;
}  

.slider-orange .ui-widget-header{
   background: #fc9419 !important;
   border-color: #fc9419 !important;
}  

.slider-violet .ui-widget-header{
   background: #9919fc !important;
   border-color: #9919fc !important;
}  

/* Toggle button */

.make-switch{
   margin:5px 0px;
}

/* Error log */

.error-log{
   height: 400px;
   overflow: auto;
}

.error-log ul{
   list-style-type: none;
   margin: 0px;
   padding: 0px;
}

.error-log ul li{
   padding: 10px 0px;
}

/* Table border */


.no-table-bor  .table thead>tr>th,
.no-table-bor .table tbody>tr>th,
.no-table-bor .table tfoot>tr>th,
.no-table-bor .table thead>tr>td,
.no-table-bor .table tbody>tr>td,
.no-table-bor .table tfoot>tr>td {
   border-bottom: 1px dashed #eee;
   border-top:0px;
}

/* Portfolio */

.img-portfolio ul{
   margin:0;
   padding:0;
}

.portfolio li{
   display:inline !important;
   border:none !important;
}

.portfolio li a, .portfolio li a:visited{
   color:#777;
   padding:5px 10px;
   margin:0px 5px;
}

.portfolio li a:hover{
   color:#555;
}

#portfolio .element{
   margin:20px 10px 10px 0px;
   padding: 0px;
   display:inline-block;
}


#portfolio a, #portfolio a:visited, #portfolio a:hover{
   color:#666;
   text-decoration:none;
}

#portfolio img{
   width:200px;
   max-width:200px;
   height:150px;
}

/* PrettyPhoto */

div.ppt {
   display:none !important;
}


/* Chat Widget starts */

.chats{
   list-style-type: none;
   margin: 0px;
   padding-left:0px;
}

.chats li{
   margin-bottom: 8px;
   padding-bottom: 8px;
}

.chats .by-me img{
   max-width:40px;
   margin-top: 5px;
   margin-right:10px;
}

.chats .by-me .chat-meta{
   font-size: 11px;
}

.chats .by-me .chat-content{
   margin-left: 60px;
   position: relative; 
   background: #fcfcfc; 
   padding: 7px 10px;
   font-size: 13px;
   border-radius:5px;
   border:1px solid #eee;
}

.chats .by-me .chat-content:after, .chats .by-me .chat-content:before { 
   right: 100%; 
   border: solid transparent; 
   content: " "; 
   height: 0; 
   width: 0; 
   position: absolute; 
} 

.chats .by-me .chat-content:after { 
   border-color: rgba(255, 255, 255, 1); 
   border-right-color: #16cbe6; 
   border-width: 10px; 
   top: 30%; 
   margin-top: -10px; 
} 

.chats .by-me .chat-content:before { 
   border-color: rgba(238, 238, 238, 0); 
   border-right-color: #ccc; 
   border-width: 11px; 
   top: 30%; 
   margin-top: -11px; 
}

.chats .by-other img{
   max-width:40px;
   margin-top: 5px;
   margin-left:10px;
}

.chats .by-other .chat-meta{
   font-size: 11px;
   color: #999;
}

.chats .by-other .chat-content{
   margin-right: 60px;
   position: relative; 
   background: #fcfcfc; 
   padding: 7px 10px;
   font-size: 13px;
   border:1px solid #eee;
   border-radius:5px;
}

.chats .by-other .chat-content:after, .chats .by-other .chat-content:before { 
   left: 100%; 
   border: solid transparent; 
   content: " "; 
   height: 0; 
   width: 0; 
   position: absolute; 
   pointer-events: none; 
} 

.chats .by-other .chat-content:after { 
   border-color: rgba(255, 255, 255, 1); 
   border-left-color: #16cbe6; 
   border-width: 10px; 
   top: 30%; 
   margin-top: -10px; 
} 

.chats .by-other .chat-content:before { 
   border-color: rgba(238, 238, 238, 0); 
   border-left-color: #ccc; 
   border-width: 11px; 
   top: 30%; 
   margin-top: -11px; 
}

/* Chat widget ends */

/* Project widget starts */

.project{
   list-style-type: none;
   margin: 0px !important;
   padding:0px !important;
}

.project li{
   padding-top:10px;
   padding-bottom:10px;
   border-top: 1px solid #ddd;
}

.project li:first-child{
   border-top: 0px;
   padding-top:0px;
   margin-top:0px;
}

.project p{
   font-weight: bold;
   margin: 0px !important;
   padding: 0px !important
}

.project input{
   margin-right:3px;
   position:relative;
   top:2px;
}

.project .p-meta{
   font-size: 11px;
   font-weight: normal;
   margin-left: 20px !important;
   margin-bottom: 5px !important;
}

.project .progress{
   margin:0px !important;
   padding: 0px !important;
   margin-left: 20px !important;
}

/* Proejct widget ends */

/* Back to top */

.totop {
   position: fixed;
   bottom: 0px;
   right: 0px;
   z-index: 104400;
   background: #16cbe6; 
}

.totop a, .totop a:visited{
   display: block;
   width: 30px;
   height: 30px;
   color: #fff;
   text-align: center;
   line-height: 30px;
}

.totop a:hover {
   color: #eee;
   text-decoration: none;
}

/* Footer */

footer{
   background:#333 url("/img/footer-back.png") repeat;
   border-top:3px solid #ddd; 
   box-shadow:inset 0px 0px 3px #111;
   color:#ccc;
   font-size:14px;
   line-height:16px;
   padding:10px 0px 10px 0px;
}

footer a{
   color:#eee;
   text-decoration:none;
   border-bottom:1px dotted #888;
}

footer a:hover{
   color:#aaa;
   text-decoration:none;
   border:0px;
}

footer hr{
   margin-top: 10px;
   margin-bottom: 10px;
   border-top: #000 1px solid;
   border-bottom: #212121 1px solid;
}

footer .copy{
   font-size:13px;
   /*margin:15px 0px;*/
}

/* Responsive CSS */

/* Mobile phones */
@media (max-width: 480px){

}

/* Tablets */
@media (max-width: 767px){
   .container{
      width:100%;
   }
   .header{
      height:auto;
      padding:15px 0px;
   }  
   .header .logo{
      text-align:center;
      padding-bottom:10px;
   }
   .header .navbar .nav > li > a:hover{
      background:#0fa6bc;
      border-radius:5px;
   }
   .navbar-toggle {
      margin-right:0px !important;
   }
}

/* Desktop */

@media (max-width: 991px){
   .header{
      height:auto;
      padding:15px 0px;
   }  
   .header .logo{
      text-align:center;
      padding-bottom:10px;
   }
   .header .form{
      margin:10px auto;
   }
   .sidey{
      margin-bottom:30px;
      width:100%;
      float:none;
      display:none;
      position:relative;
   }  
   .mainy{
      margin-left: 0px;
   }
   .sidebar-dropdown{
      display:block;
      text-align:center;
      margin:0 auto;
      margin-bottom:10px;
      border-bottom:1px dashed #eee;
      padding-bottom:10px;
   }
   .sidebar-dropdown a, .sidebar-dropdown a:hover{
      color:#fff;
      background:#16cbe6;
      display:block;
      padding:6px 12px;
      border-bottom:0px;
      box-shadow:0px 0px 1px #0fa6bc;
      border-radius:10px;
   }  
}

/* My style */

.logout {
   margin-top: -2px;
}

.logout a{
   display: block;
   float: left;
   padding-left: 16px;
   background: url('/css/welcome/images/bg_top_link_left.png') left top no-repeat;
   margin-left: 10px;
   background-position: 0%;
}

.logout a>span{
   display: block;
   float: left;
   height: 25px;
   padding-right: 16px;
   background: url('/css/welcome/images/bg_top_link_right.png') right top no-repeat;
}

.logout a>span>span {
   display: block;
   float: left;
   height: 25px;
   background: #21607a;
   line-height: 25px;
   font-family: Arial;
   font-size: 14px;
   color: #fff;
}

.sidey .side-cont .nav a{
   font-weight: normal;
}

.logodiv{
   width: 230px;
   height: 62px;
   float: right;
   margin-right: 46px;
}

/* New Icon */
.my-icon-money-menu{
   background-image: url(/css/admin/font/money_b.png);
   width: 15px;
   height: 19px;
   position: absolute;
   left: -4px;
   background-size: 15px;
   margin-left: 20px;
}

.my-icon-money{
   background-image: url(/css/admin/font/money.png);
   width: 15px;
   height: 19px;
   position: absolute;
   left: -6px;
   background-size: 15px;
}

.icon_style {
   width: 44px;
   height: 43px;
   background-size: 49px 46px;
   display: inline-block;
   vertical-align: middle;
   margin-right: 4px;
}

.icon_site {
   background-image: url(/img/title_icon/site.png);
}
.icon_block{
   background-image: url(/img/title_icon/blocki.png);
}
.icon_site_stat{
   background-image: url(/img/title_icon/stat_site.png);
}
.icon_block_stat{
   background-image: url(/img/title_icon/stat_block.png);
}
.icon_geo_stat{
   background-image: url(/img/title_icon/stat_geo.png);
}
.icon_referal_stat{
   background-image: url(/img/title_icon/stat_referal.png);
}
.icon_balans{
   background-image: url(/img/title_icon/balans.png);
}
.icon_ticket{
   background-image: url(/img/title_icon/ticket.png);
}
.icon_news{
   background-image: url(/img/title_icon/novosti.png);
}
.icon_settings{
   background-image: url(/img/title_icon/user_setting.png);
}
.icon_faq{
   background-image: url(/img/title_icon/faq.png);
}

.max-width{
   max-width: 400px;
}

.link_stat a{
   
   cursor: pointer;
   margin-right: 11px;
   text-align: right;
}

.form-group .summ_order{
   padding-top: 4px;
}

.current .my-icon-money-menu{
   background-image: url(/css/admin/font/money.png);
   width: 15px;
   height: 19px;
   position: absolute;
   left: -6px;
   background-size: 15px;
}

/* Slider UI */
.amount{
   border:0; 
   font-weight:bold;
}

.tooltip_slider{
   margin-top: -3px;
   font-size: 14px;
}
.slider-size{
   padding-right: 2px;
   padding-left: 2px;
   margin-top: -2px;
}


/* Writen name banner */
.nameblock{
   border: 0 !important;
   font-size: 20px;
   height: 28px !important;
   padding: 0 !important;
   font-style: normal !important;
   font-weight: bold;
   color: #333 !important;
   margin-top: -2px;
   border-bottom: 1px dashed #777!important;
}

.bottom-line{
   border-bottom: 1px solid #dddddd;
   padding-bottom: 14px;
}


.radio {
   margin-right: 6px;
}

.border-solid {
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -o-border-radius: 12px;
   border-radius: 12px;
   border: 1px solid #cccccc;
   padding: 2px 4px 2px 24px;
   display: inline-block;
   margin-top: 6px;
}
.border-dashed {
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -o-border-radius: 12px;
   border-radius: 12px;
   border: 1px dashed #cccccc;
   padding: 2px 4px 2px 24px;
   display: inline-block;
   margin-top: 6px;
}
.border-dotted {
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -o-border-radius: 12px;
   border-radius: 12px;
   border: 1px dotted #cccccc;
   padding: 2px 4px 2px 24px;
   display: inline-block;
   margin-top: 6px;
}

.content{
   padding-bottom: 0px;
   padding-top: 10px;
}

.content-icon {
   height: 18px;
   width: 18px;
   vertical-align: middle;
}

.up {
   background: url(/images/up.png) no-repeat;
   background-size: 14px;
}

.down {
   background: url(/images/down.png) no-repeat;
   background-size: 14px;
}

.asc {
   background: url(/images/up.png) no-repeat;
   background-size: 14px;
}

.desc {
   background: url(/images/down.png) no-repeat;
   background-size: 14px;
}

.inside-inlian .radio{
   display: inline-block;
}
.title-b{
   color: #333333;
   font-size: 15px;
   font-weight: bold;
}
.border-Times{
   font-family: 'Times';
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -o-border-radius: 12px;
   border-radius: 12px;
   border: 1px solid #cccccc;
   padding: 2px 4px 2px 24px;
}

.border-Arial{
   font-family: 'Arial';
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -o-border-radius: 12px;
   border-radius: 12px;
   border: 1px solid #cccccc;
   padding: 2px 4px 2px 24px;
}

.border-Verdana{
   font-family: 'Verdana';
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -o-border-radius: 12px;
   border-radius: 12px;
   border: 1px solid #cccccc;
   padding: 2px 4px 2px 24px;
}
.border-Tahoma{
   font-family: 'Tahoma';
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -o-border-radius: 12px;
   border-radius: 12px;
   border: 1px solid #cccccc;
   padding: 2px 4px 2px 24px;
}

.border-inherit{
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   -o-border-radius: 12px;
   border-radius: 12px;
   border: 1px solid #cccccc;
   padding: 2px 4px 2px 24px;
}
.label-bottom{
   vertical-align: -webkit-baseline-middle;
   margin-bottom: 0px;
}
.awidget-body .textarea-html-height{
   height: 80pt;
   margin-bottom: 10pt;
}

.font_style.bold {
   font-style: normal;
   font-weight: bold !important;
}

.font_style {
   text-transform: uppercase;
   text-decoration: none !important;
   width: 40px;
   height: 30px;
   line-height: 30px;
   background: #16cbe6;
   text-align: center;
   margin-right: 3px !important;
   color: #000;
   margin-top: 2px;
   border-radius: 3px;
   display: inline-block;
}

.font_style.bold {
   font-style: normal;
   font-weight: bold !important;
}
.font_style:hover, .active_font_style {
   background: #188B88;
   color: #fff;
}
a:hover {
   cursor: pointer;
}
.font_style.italic {
   font-style: italic;
}
.font_style.underline {
   text-decoration: underline !important;
}
.new-color{
   background: #16cbe6;
}

.jumbotron-style p{
   font-size: 10.5pt;
   margin-bottom: 6px;
   margin-top: 6px;
}

.formula-referral{
   font-size: 14pt;
   background: #fafafa url('/img/main-back.png') repeat;
   margin: 10px 0px;
   padding: 5px;
   border-radius: 10px;
   border-left: 1px solid #16cbe6;
   border-top: 1px solid #16cbe6;
   border-bottom: 1px solid #16cbe6;
   border-right: 1px solid #16cbe6;
   display: inline;
   color: #16cbe6;
}

.icon-new {
   margin: 0 .3em;
   padding: 0 !important;
   width: 16px;
   height: 16px;
   background-image: url('/images/sprites.png') !important;
   background-repeat: no-repeat !important;
   background-position: top left !important;
}

.ic_s_desc {
   background-position: 0 -1888px !important;
}

.icon-position{
   position: absolute;
   margin-left: 2px;
   margin-top: 3px;
}

.sortth{
   min-width: 70px;
}