.float_right{
  float: right;
}

.float_left{
  float: left;
}

.text-align-right{
  text-align: right;
}

.text-align-center{
  text-align: center;
}

.font-size-85{
  font-size: 85%;
}

.width_50 {
  width: 50px !important;
}

.width_94 {
  width: 94px !important;
}

.height_20{
  height: 20px;
}

.border-right_0{
  border-right: 0px;
}

.margin-top-14{
	margin-top: 14px;
}

.margin-top-26{
	margin-top: 26px;
}
.margin-right-10{
  margin-right: 10px;
}
.margin-right-20{
  margin-right: 20px;
}

.margin-r-m-20{
  margin-right: -20px;
}

.margin-right-30{
  margin-right: -30px;
}
.margin-top-2{
  margin-top: 2px;
}

.font-size-20{
  font-size: 20px;
}

.margin-left-24 {
  margin-left: 24px;
}
.display-inline-block{
  display: inline-block;
}
.dropdown .display-i-b{
  display: inline-block;
}
.vertical-align-baseline{
  vertical-align: baseline;
}

.left_32 {
  left: 32px;
}

.width_210 {
  width: 210px;
}

.width_112{
  width: 112px;
}
.red {
  color: #cc0000;
}
.b {
  font-weight: bold;
}