.float_right{
  float: right;
}

.float_left{
  float: left;
}

.text-align-right{
  text-align: right;
}

.font-size-85{
  font-size: 85%;
}

.width_50 {
  width: 50px !important;
}

.width_94 {
  width: 94px !important;
}

.height_20{
  height: 20px;
}

.border-right_0{
  border-right: 0px;
}

.margin-top-14{
	margin-top: 14px;
}

.margin-top-26{
	margin-top: 26px;
}
.margin-right-10{
  margin-right: 10px;
}
.margin-right-20{
  margin-right: 20px;
}
.margin-top-2{
  margin-top: 2px;
}

.font-size-20{
  font-size: 20px;
}

.margin-left-24 {
  margin-left: 24px;
}
.display-inline-block{
  display: inline-block;
}
.vertical-align-baseline{
  vertical-align: baseline;
}